<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FarmaciaUOM.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=10.0.0.30;Initial Catalog=Hospital;User ID=sa;Password=soy1962$"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaUOM.Properties.Settings.LaboratorioConnectionString"
            connectionString="Data Source=10.0.0.30;Initial Catalog=Laboratorio;User ID=sa;Password=soy1962$"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaUOM.Properties.Settings.PadronConnectionString"
            connectionString="Data Source=10.0.0.30;Initial Catalog=Padron;User ID=sa;Password=soy1962$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>